<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{{title}}</title>
<link rel="icon" href="../../public/img/weather.png">
    <link rel="stylesheet" href="./css/style.css">
    <script src="https://code.iconify.design/1/1.0.7/iconify.min.js"></script>
</head>

<body>
    {{>header}}
    <div class="main-content">
    <p>This page serves no purpose, except improving my skills with:  {{name}}</p>
    </div>
    {{>footer}}
</body>

</html>