<footer>
    <div>
        <h5>Created by Jean Fabry</h5>
        <div>
            <span class="iconify" data-icon="akar-icons:github-fill" data-inline="false"></span>
            <a href="https://github.com/JeanFabry">My github profile</a>
        </div>
    </div>
</footer>